
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
    var newProducts = ViewBag.NewProducts;
    var featureProducts = ViewBag.FeatureProducts;
}
@section Slide{
    <div class="header_bottom">
    <div class="header_bottom_left">
        <div class="section group">
            <div class="listview_1_of_2 images_1_of_2">
                <div class="listimg listimg_2_of_1">
                    <a href="preview.html"> <img src="/Source/Client/images/pic4.png" alt="" /></a>
                </div>
                <div class="text list_2_of_1">
                    <h2>Iphone</h2>
                    <p>Lorem ipsum dolor sit amet sed do eiusmod.</p>
                    <div class="button"><span><a href="preview.html">Add to cart</a></span></div>
                </div>
            </div>
            <div class="listview_1_of_2 images_1_of_2">
                <div class="listimg listimg_2_of_1">
                    <a href="preview-5.html"><img src="/Source/Client/images/pic3.png" alt="" / ></a>
                </div>
                <div class="text list_2_of_1">
                    <h2>Samsung</h2>
                    <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                    <div class="button"><span><a href="preview-5.html">Add to cart</a></span></div>
                </div>
            </div>
        </div>
        <div class="section group">
            <div class="listview_1_of_2 images_1_of_2">
                <div class="listimg listimg_2_of_1">
                    <a href="preview-3.html"> <img src="/Source/Client/images/pic3.jpg" alt="" /></a>
                </div>
                <div class="text list_2_of_1">
                    <h2>Acer</h2>
                    <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                    <div class="button"><span><a href="preview-3.html">Add to cart</a></span></div>
                </div>
            </div>
            <div class="listview_1_of_2 images_1_of_2">
                <div class="listimg listimg_2_of_1">
                    <a href="preview-6.html"><img src="/Source/Client/images/pic1.png" alt="" /></a>
                </div>
                <div class="text list_2_of_1">
                    <h2>Canon</h2>
                    <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                    <div class="button"><span><a href="preview-6.html">Add to cart</a></span></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="header_bottom_right_images">
        <!-- FlexSlider -->
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li><img src="/Source/Client/images/1.jpg" alt="" /></li>
                    <li><img src="/Source/Client/images/2.jpg" alt="" /></li>
                    <li><img src="/Source/Client/images/3.jpg" alt="" /></li>
                    <li><img src="/Source/Client/images/4.jpg" alt="" /></li>
                </ul>
            </div>
        </section>
        <!-- FlexSlider -->
    </div>
    <div class="clear"></div>
</div>


    }
<h2>Index</h2>

        <div class="content_top">
            <div class="heading">
                <h3>Feature Products</h3>
            </div>
            <div class="sort">
                <p>
                    Sort by:
                    <select>
                        <option>Lowest Price</option>
                        <option>Highest Price</option>
                        <option>Lowest Price</option>
                        <option>Lowest Price</option>
                        <option>Lowest Price</option>
                        <option>In Stock</option>
                    </select>
                </p>
            </div>
            <div class="show">
                <p>
                    Show:
                    <select>
                        <option>4</option>
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                        <option>In Stock</option>
                    </select>
                </p>
            </div>
            <div class="page-no">
                <p>
                    Result Pages:<ul>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>[<a href="#"> Next>>></a>]</li>
                    </ul>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var i in featureProducts)
            {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-3.html"><img src="@i.Image" alt="" height="200"/></a>
                <h2>Lorem Ipsum is simply </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <p>@*<span class="strike">$528.22</span>*@<span class="price">@i.Price.ToString("N0")</span></p>
                <div class="button"><span><img src="/Source/Client/images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
                <div class="button"><span><a href="preview-3.html" class="details">Details</a></span></div>
            </div>
            }

        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>Sản phẩm mới</h3>
            </div>
            <div class="sort">
                <p>
                    Sort by:
                    <select>
                        <option>Lowest Price</option>
                        <option>Highest Price</option>
                        <option>Lowest Price</option>
                        <option>Lowest Price</option>
                        <option>Lowest Price</option>
                        <option>In Stock</option>
                    </select>
                </p>
            </div>
            <div class="show">
                <p>
                    Show:
                    <select>
                        <option>4</option>
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>20</option>
                        <option>In Stock</option>
                    </select>
                </p>
            </div>
            <div class="page-no">
                <p>
                    Result Pages:<ul>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>[<a href="#"> Next>>></a>]</li>
                    </ul>
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var item in newProducts)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@url"><img src="@item.Image" alt="" height="200" /></a>
                    <div class="discount">
                        <span class="percentage">@item.Warranty</span>
                    </div>
                    <h2>@item.Name </h2>
                    <p>@*<span class="strike">$438.99</span>*@<span class="price">@item.Price.ToString("N0")</span></p>
                    <div class="button"><span><img src="/Source/Client/images/cart.jpg" alt="" /><a href="@url" class="cart-button">Thêm vào giỏ hàng</a></span> </div>
                    <div class="button"><span><a href="@url" class="details">Chi tiết</a></span></div>
                </div>
            }

        </div>

